<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.iessanclemente.a19lazaropm.aservice">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_atlas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_atlas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AService">
        <activity
            android:name=".MedicionesVolumenExtraccionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FormNewMantenimientoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FichaMantenimientoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FichaVitrinaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FormNewVitrinaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FormNewEmpresaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FichaEmpresaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ListEmpresasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AServiceNoBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AServiceNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>